body{
  margin:0;
  background:#0f172a;
  font-family: Arial;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  color:white;
}


.chat-box{
  width:340px;
  background:#111827;
  border-radius:12px;
  box-shadow:0 0 25px rgba(0,0,0,0.4);
}


.top{
  display:flex;
  justify-content:space-between;
  padding:12px 15px;
  background:#020617;
  border-radius:12px 12px 0 0;
}

.status{
  color:#22c55e;
  font-size:12px;
}


.messages{
  padding:15px;
  height:300px;
  overflow-y:auto;
}


.msg{
  margin-bottom:12px;
  max-width:75%;
}

.msg p{
  margin:0;
  padding:8px 12px;
  border-radius:10px;
}

.msg span{
  font-size:11px;
  color:#cbd5e1;
}


.left p{
  background:#1f2937;
}


.right{
  text-align:right;
  margin-left:auto;
}

.right p{
  background:#2563eb;
}


.type{
  display:flex;
  padding:10px;
  gap:8px;
}

.type input{
  flex:1;
  padding:8px;
  border:none;
  border-radius:8px;
  outline:none;
}

.type button{
  background:#2563eb;
  color:white;
  border:none;
  padding:8px 14px;
  border-radius:8px;
  cursor:pointer;
}




